[submodule "submodule/super"]
	path = submodule/super
	url = https://github.com/Shiaoming/Python-VO.git
[submodule "submodule/2d-gaussian-splatting"]
	path = submodule/2d-gaussian-splatting
	url = https://github.com/hbb1/2d-gaussian-splatting.git
[submodule "submodule/InstantMesh"]
	path = submodule/InstantMesh
	url = https://github.com/TencentARC/InstantMesh
